@import "tailwindcss";

@theme {  

  --color-picklegreen:	#4A7C59; 
  --color-brinejuice:	#A3C586;  
  --color-crunchwhite:	#FAF9F6; 
  --color-vinegarblack:	#1B1B1B; 
  --color-dillyellow:	#F1E05A;  
  --color-darktext: #2E3F2B;
  --color-creambackground: #FCF6E9;
}